body{
	margin:0;
	padding:0;
}

.flex{
	background-color:#CCC;
	display:flex;
	height:600px;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
	align-content:space-between;
}

.flex div{
	margin:10px;
	padding:15px;
	background-color:grey;
	color:white;
	font-size:1.4em;
}